@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: "Playfair Display", serif;
}


.HeroImage{
    background-image: url("../src/assets/hero-sub.png");
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:500px) {
    .HeaderMenu{
        width: 33rem;
        top: 5.8rem;
        right: 1px;
    }
}
@media screen and (max-width:400px) {
    .HeaderMenu{
        width: 33rem;
        top: 4.6rem;
        right: 1px;
        padding-left: 55px;
    }
}
@media screen and (max-width:350px) {
    .HeaderMenu{
        width: 33rem;
        top: 3.1rem;
        right: 1px;
    }
}